{% extends 'base.html' %}

{% block content %}

<body>
    <ul class=navbg>
        <li><a href="{{ url_for('dashboard') }}" class=nav><i class="fa fa-home"></i></a></li>
        <li><a href="{{ url_for('groups', group='None') }}" class=nav>Groups</a></li>
        <li><a href="{{ url_for('communities') }}" class=nav>Events</a></li>
        <!--<li><a></a><i class="fa fa-search"></i></a></i>-->
        <li><a href="{{ url_for('profile') }}" . class=nav style="float: right">Sunny Feng</a></li>
        <!--Name should change depending on whos logged in-->
    </ul>
</body>

{% endblock %}