<html>

<head>
    {% if title %}
    <title>{{ title }} - Eventigate</title>
    {% else %}
    <title>Welcome to Eventigate</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

    <ul class=navbg>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('home') }}" class=nav><i class="fa fa-home"></i></a></li>
        <li><a href="{{ url_for('login') }}" class=nav style=" float: right">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('dashboard') }}" class=nav><i class="fa fa-home"></i></a></li>
        <li><a href="{{ url_for('groups') }}" class=nav>Groups</a></li>
        <li><a href="{{ url_for('events') }}" class=nav>Events</a></li>
        <!--<li><a></a><i class="fa fa-search"></i></a></i>-->
        <li><a href="{{ url_for('logout') }}" class=nav style="float: right">Logout</a></li>
        <li><a href="{{ url_for('profile') }}" class=nav style="float: right">{{ current_user.username }}</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>

</html>