{% extends "base.html" %}

{% block content %}

<div class=fixedheader>
    <center><p style="font-size: 56pt;">Hello! <br> Welcome to Eventigate!</p>
    <p style="font-size: 20pt">Eventigate is a website that connects volunteers and individuals to local communities and events!</p>
        <br>
        <p style="font-size: 20pt">Create or join groups</p>
        <p style="font-size: 20pt">Create events</p>
        <p style="font-size: 20pt">Volunteer</p>
        <p style="font-size: 20pt">Suggest and vote for ideas</p>
    </center>
</div>

{% endblock %}