{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div style="margin-top: 2vh" id="div_1">
  <img id="image" src="{{ url_for('static', filename='pics/profile.png') }}" height="100" width="100">
  <br>
  <h1 id="profile_name">{{ current_user.username }}</h1>
  <br>
  <h2>Email: {{ current_user.email }}</h2>
  <!-- <h3 id="email">{{ current_user.email }}</h3> -->
</div>

<script type=text/javascript> $(function() { $('a#test').bind('click', function() {
  $.getJSON('/background_process_test', function(data) { }); return false; }); }); </script> <div class='container'>
<!-- <h3>Test</h3>
<form>
  <a href=# id=test><button class='btn btn-default'>Test</button></a>
</form> -->

</div>

<div>
  <h2>Interests</h2>
  <form>
    <h3>Add your interests</h3>
    <input type="text" id="keywords" placeholder="Place keywords e.g school, tech, sports">
    <input type="button" value="Submit" onclick="submit_keyword()">
  </form>
</div>

<div>
  <ul id="keyword_tags">
  </ul>
</div>

{% endblock %}